<div class="block center">
    

    <form>
        <fieldset>


            
            <legend>Usuarios</legend>
        
            <img src="../../imagenes/avatar.jpg" width="90px" height="90px">

        <table>
            <tr>
                <td><label>Nombre: </label></td>
                <td><input></td>
            </tr>

            <tr>
                <td><label>Usuario: </label></td>
                <td><input></td>
            </tr>
            <tr>
                <td><label>Contraseña: </label></td>
                <td><input></td>
            </tr>
        </table>
    </fieldset>
    </form>

</div>