<div class="block center">



    <fieldset>



        <legend>Usuarios</legend>

        <img src="../../imagenes/avatar.jpg" width="90px" height="90px">

        <table>
            <tr>
                <td><label>Nombre: </label></td>
                <td><input id="nombre"></td>
            </tr>

            <tr>
                <td><label>Usuario: </label></td>
                <td><input id="usuario"></td>
            </tr>
            <tr>
                <td><label>Contraseña: </label></td>
                <td><input id="clave"></td>
            </tr>
        </table>
        <br>
        <center>
            <button onclick="guardar()" id="btnGuardar">Guardar</button>
        </center>
    </fieldset>
    <br>
    <br>
    <table border="1" id="tablaTemp">
        <tr>
            <td>Nombre</td>
            <td>Usuario</td>
            <td>Clave</td>
        </tr>

    </table>
</div>